<main [class]="theme">
  <div class="chart-col">
    <div style="position: absolute; top: 50px; left: 50px; right: 50px; bottom: 50px;">
      <ngx-charts-bubble-chart
        [view]="view"
        class="chart-container"
        [results]="bubble"
        [animations]="animations"
        [showGridLines]="showGridLines"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled"
        [minRadius]="minRadius"
        [maxRadius]="maxRadius">
      </ngx-charts-bubble-chart>
    </div>
    
  </div>
</main>
